numpy                    
packaging                
pandas                   
pillow                   
pip                      
plotly                   
python-dateutil          
streamlit
sqlite
os